<template>
  <div class="body-main">
 <HeaderApp />
    <section class="description">
      <div class="container">
        <div class="desc">
          <p>
            We promise that we will put you first always and handle your affairs
            with integrity, diligence, and discretion.
          </p>
        </div>
        <div class="link">
          <a href="#">
            <img
              src="../assets/Icons/nav-arrow.svg"
              class="right-arrow"
              alt=""
            />
          </a>
          <p><a href="about"> Learn More About 5A</a></p>
        </div>
        <div class="hover"></div>
      </div>
    </section>
    <section class="awards">
      <div class="container">
        <div
          class="circle-bg"
          data-aos="fade-zoom-in"
          data-aos-offset="20"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
          <img src="../assets/Image/A2.svg" alt="" />
          <img src="../assets/Image/A1.svg" alt="" />

          <img src="../assets/Image/award.svg" alt="" />
          <!-- <img src="../assets/Image/award2.svg" alt="" /> -->
          <img src="../assets/Image/award2.svg" alt="" />
          <img src="../assets/Image/award3.svg" alt="" />
          <img src="../assets/Image/award4.svg" alt="" />
        </div>
      </div>
    </section>
    <section class="topdecor">
      <div class="left">
        <img class="left-decor" src="../assets/Icons/leftdecor.svg" alt="" />
        <img class="edge-decor1" src="../assets/Icons/edge1.svg" alt="" />
        <h2
          data-aos="fade-up"
          data-aos-offset="20"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
          WHY WE ARE THE BEST CHOICE
        </h2>
      </div>

      <img class="pass-decor" src="../assets/Icons/meetdecor.svg" alt="" />
      <div class="right">
        <div class="best">
          <div class="container">
            <div
              class="best-content"
              data-aos="fade-up"
              data-aos-offset="20"
              data-aos-delay="50"
              data-aos-duration="1000"
              data-aos-mirror="true"
              data-aos-once="false"
              data-aos-anchor-placement="top-center"
            >
              <h1></h1>
              <p>
                We are committed to treating each of our clients with courtesy,
                respect and compassion regardless of the size of their case. We
                are a firm that will be here in the future, which we’ve
                guaranteed with a succession plan to maintain our exemplary
                service to you for decades to come.
              </p>
              <div class="button">
                <a href="" class="btn btn-rounded-lightblue">Contact Today</a>
              </div>
            </div>
          </div>
        </div>
        <!-- <img class="decor" src="../assets/Image/best.JPG" alt="" /> -->
        <img class="edge-decor" src="../assets/Icons/edge4.svg" alt="" />
      </div>
    </section>
    <!-- <section class="best">
      <div class="container">
        <div
          class="best-content"
          data-aos="fade-up"
          data-aos-offset="20"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
          <h1>WHY WE ARE THE BEST CHOICE</h1>
          <p>
            We are committed to treating each of our clients with courtesy,
            respect and compassion regardless of the size of their case. We are
            a firm that will be here in the future, which we’ve guaranteed with
            a succession plan to maintain our exemplary service to you for
            decades to come.
          </p>
          <div class="button">
            <a href="" class="btn btn-rounded-lightblue">Contact Today!</a>
          </div>
        </div>
      </div>
    </section> -->

    <section class="counter">
      <div class="container">
        <div class="decor1">
          <img src="../assets/Icons/decor3.svg" alt="" />
        </div>
        <div class="decor">
          <img src="../assets/Icons/decor3.svg" alt="" />
        </div>
        <div class="counter-number">
          <div class="numbers">
            <img class="icon-mid" src="../assets/Icons/trials.svg" alt="" />
            <div class="number-collection">
              <span class="numbers__window"
                ><span
                  class="numbers__window__digit numbers__window__digit--1"
                  data-fake="8642519073"
                  >8</span
                ></span
              ><span class="numbers__window"
                ><span
                  class="numbers__window__digit numbers__window__digit--2"
                  data-fake="5207186394"
                  >5</span
                ></span
              ><span class="numbers__window"
                ><span
                  class="numbers__window__digit numbers__window__digit--3"
                  data-fake="8395216407"
                  >5</span
                ></span
              >
            </div>
            <p class="title">Trials</p>
          </div>

          <div class="numbers">
            <img class="icon-mid" src="../assets/Icons/woncase.svg" alt="" />
            <div class="number-collection">
              <span class="numbers__window"
                ><span
                  class="numbers__window__digit numbers__window__digit--1"
                  data-fake="8642519073"
                  >6</span
                ></span
              ><span class="numbers__window"
                ><span
                  class="numbers__window__digit numbers__window__digit--2"
                  data-fake="5207186394"
                  >8</span
                ></span
              ><span class="numbers__window"
                ><span
                  class="numbers__window__digit numbers__window__digit--3"
                  data-fake="8395216407"
                  >3</span
                ></span
              >
            </div>
            <p class="title">Won</p>
          </div>
          <div class="numbers">
            <img class="icon-mid2" src="../assets/Icons/lawyer.svg" alt="" />
            <div class="number-collection">
              <span class="numbers__window"
                ><span
                  class="numbers__window__digit numbers__window__digit--1"
                  data-fake="8642519073"
                  >1</span
                ></span
              ><span class="numbers__window"
                ><span
                  class="numbers__window__digit numbers__window__digit--2"
                  data-fake="0527186394"
                  >5</span
                ></span
              >
            </div>
            <p class="title">Lawyers</p>
          </div>
          <div class="numbers">
            <img class="icon-mid2" src="../assets/Icons/awards.svg" alt="" />
            <div class="number-collection">
              <span class="numbers__window"
                ><span
                  class="numbers__window__digit numbers__window__digit--1"
                  data-fake="8642519073"
                  >1</span
                ></span
              ><span class="numbers__window"
                ><span
                  class="numbers__window__digit numbers__window__digit--2"
                  data-fake="5207186394"
                  >0</span
                ></span
              >
            </div>
            <p class="title">Awards</p>
          </div>
        </div>
      </div>
    </section>
    <section class="practice">
      <a href="coporate">
        <div
          class="practice-card"
          data-aos="slide-up"
          data-aos-offset="20"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
          <h4>CORPORATE AND COMMERCIAL</h4>
          <div class="more-arrow">
            <img src="../assets/Icons/seemorearrow.svg" alt="" />
          </div>
          <img class="prac-img" src="../assets/Image/practice2.jpg" alt="" />
          <div class="hover">
            <p>
              5A Jurists Consultancy Group regularly works with domestic and
              international clients on business formation and financing as well
              as myriad corporate transactions, contracts, securities, mergers,
              acquisitions, and joint ventures. Our clients have come to rely on
              our practical problem-solving skills and our know-how to optimize
              opportunities when they arise.
            </p>
          </div>
        </div>
      </a>
      <a href="mining">
        <div
          class="practice-card"
          data-aos="slide-up"
          data-aos-offset="20"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
          <h4>CONSTRUCTION, SURETY & DESIGN PROFESSIONALS</h4>
          <div class="more-arrow">
            <img src="../assets/Icons/seemorearrow.svg" alt="" />
          </div>
          <img class="prac-img" src="../assets/Image/practice3.jpg" alt="" />
          <div class="hover">
            <p>
              5A Jurist’s Consultancy Groups construction attorneys routinely
              deal with issues in the construction industry from contracts to
              complex litigation and provide legal advice to local and
              international companies in the industry. We represent project
              owners, general contractors, subcontractors, engineers,
              architects, design professionals
            </p>
          </div>
        </div>
      </a>
      <a href="telecom">
        <div
          class="practice-card"
          data-aos="slide-up"
          data-aos-offset="20"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
          <h4>ICT & TELECOM</h4>
          <div class="more-arrow">
            <img src="../assets/Icons/seemorearrow.svg" alt="" />
          </div>
          <img class="prac-img" src="../assets/Image/practice4.jpg" alt="" />
          <div class="hover">
            <p>
              5A Jurists Consultancy Group strongly believes the ICT and Telecom
              industry is a huge sector with significant benefits and potential
              for a country like Ethiopia with a bright future. We guide
              technology companies through mergers and acquisitions, joint
              ventures, financings, and diverse agreements and contracts.
            </p>
          </div>
        </div>
      </a>
      <a href="power">
        <div
          class="practice-card"
          data-aos="slide-up"
          data-aos-offset="20"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
          <h4>POWER AND ENERGY</h4>
          <div class="more-arrow">
            <img src="../assets/Icons/seemorearrow.svg" alt="" />
          </div>
          <img class="prac-img" src="../assets/Image/practice1.jpg" alt="" />
          <div class="hover">
            <p>
              5A Jurists Consultancy Group’s other key area of focus is the
              power & energy sector. Ethiopia is a country that is power-thirsty
              thus, with huge potential and opportunity for companies engaged in
              the generation of power such as hydro, wind, geothermal, and solar
              power.
            </p>
          </div>
        </div>
      </a>
      <a href="charity">
        <div
          class="practice-card"
          data-aos="slide-up"
          data-aos-offset="20"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
          <h4>CHARITIES AND NONPROFIT ORGANIZATIONS</h4>
          <div class="more-arrow">
            <img src="../assets/Icons/seemorearrow.svg" alt="" />
          </div>
          <img class="prac-img" src="../assets/Image/practice5.jpg" alt="" />
          <div class="hover">
            <p>
              From daily operational issues through investigations and
              litigation, Triple-A law office clients include social welfare and
              philanthropic organizations, certification and accreditation
              agencies, and scientific and educational societies.
            </p>
          </div>
        </div>
      </a>
      <a href="tax">
        <div
          class="practice-card"
          data-aos="slide-up"
          data-aos-offset="20"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
          <h4>TAXATION</h4>
          <div class="more-arrow">
            <img src="../assets/Icons/seemorearrow.svg" alt="" />
          </div>
          <img class="prac-img" src="../assets/Image/practice6.jpg" alt="" />
          <div class="hover">
            <p>
              5A provides innovative tax solutions that meet the challenges and
              objectives of clients’ most sophisticated business dealings in
              Ethiopia, from corporate transactions and restructurings to
              financial transactions and fund formation and investing.
            </p>
          </div>
        </div>
      </a>
    </section>
    <section class="team">
      <div class="container">
        <div class="team-wrapper">
          <div
            class="team-img"
            data-aos="slide-up"
            data-aos-offset="20"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-center"
          >
            <img class="edgepic" src="../assets/Icons/edge1.svg" alt="" />
            <img class="team-pic" src="../assets/Image/Team.jpg" alt="" />
            <img class="edgepic2" src="../assets/Icons/edge4.svg" alt="" />
          </div>
          <div
            class="team-desc"
            data-aos="slide-up"
            data-aos-offset="20"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-center"
          >
            <h4>Meet the Team</h4>
            <p>
              Conceived and formally established by Ali, Almaw, Alemu, Amare & Ashenafi (5A Jurists Consultancy Group PLC) is an aspiring full-service consultancy office in Ethiopia. With prominent lawyers and legal team that has over and above 30 years of experience in consulting and representing clients on a wide range of legal issues concerning business and investment in the country, our consultancy firm has begun to make its early influence felt on the Ethiopian legal system.
            </p>
            <div class="button">
              <a class="btn btn-rounded-lightblue" href="team"
                >Meet the Team
                <!-- <img src="../assets/Icons/seemorearrow.svg" alt="" /> -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <ContactApp />
    <section class="testimonial">
      <div class="container">
        <h2>Testmonials</h2>
        <div class="wrapper">
          <div class="testmonial-card1">
            <p>
              5A Jurists were responsive and quick to take appropriate action.
              They provided us with wise counsel and also good guidance. We are
              extremely pleased with the level of professionalism & expertise
              they have.
            </p>
            <span class="name"
              ><hr />
              FRI EL Ethiopia
            </span>
          </div>
          <div class="testmonial-card">
            <p>
              Professional, efficient, and also personable. The team at 5A
              Jurists executed my case expeditiously and fairly. Highly
              recommend their services.
            </p>
            <span class="name"
              ><hr />
              TCT
            </span>
          </div>
          <div class="testmonial-card1">
            <p>
              Everyone at 5A Jurists is professional, knowledgeable, & kind. I
              highly recommend this firm.
            </p>
            <span class="name"
              ><hr />
              Mr. Eyob Belihu
            </span>
          </div>
        </div>
      </div>
    </section>
    <section class="awards2">
      <div class="container">
        <div
          class="circle-bg"
          data-aos="fade-zoom-in"
          data-aos-offset="20"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
          <img src="../assets/Image/FRI-EL ETHIOPIA1.svg" alt="" />
          <img src="../assets/Image/TCT.svg" alt="" />
          <!-- <img src="../assets/Image/client2.svg" alt="" /> -->
        </div>
      </div>
    </section>
    <section class="blog">
      <div class="container">
        <h2>News & Blog</h2>
        <p class="sub-title">
        This is a preview of the blog, news, and journal. To explore more, please follow this link.
        </p>
        <div class="wrapper">
          <div
            class="blog-post"
            data-aos="slide-up"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center"
          >
            <h2>Blog</h2>
            <p>
              5A Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididun consectetur adipiscing elit, sed do
              eiusmod tempor incididun.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididun consectetur
              adipiscing elit, sed do eiusmod tempor incididun.amet.
            </p>
            <div class="link">
              <a href="#">
                <img src="../assets/Icons/arrowwhite.svg" alt="" />
              </a>
              <p>Learn More</p>
            </div>
            <div class="bottom-poll">
              <img src="../assets/Icons/poll.svg" alt="" />
            </div>
          </div>
          <div
            class="news"
            data-aos="slide-up"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center"
          >
            <div class="title">
              <h2>News</h2>
            </div>
            <div class="full-news">
              <p>
                5A Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididun consectetur adipiscing elit, sed do
                eiusmod tempor incididun.Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididun consectetur
                adipiscing elit, sed do eiusmod tempor incididun.Lorem ipsum
                dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididun.Lorem ipsum dolor Lorem ipsum dolor sit amet.
              </p>
              <div class="link">
                <a href="#">
                  <img src="../assets/Icons/arrownext.svg" alt="" />
                </a>
                <p>Learn More</p>
              </div>
            </div>
          </div>
          <div
            class="blog-post"
            data-aos="slide-up"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center"
          >
            <h2>Journal</h2>
            <p>
              5A Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididun consectetur adipiscing elit, sed do
              eiusmod tempor incididun.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididun consectetur
              adipiscing elit, sed do eiusmod tempor incididun.amet.
            </p>
            <div class="link">
              <a href="#">
                <img src="../assets/Icons/arrowwhite.svg" alt="" />
              </a>
              <p>Learn More</p>
            </div>
            <div class="bottom-poll">
              <img src="../assets/Icons/poll.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <FooterApp />
  </div>
</template>

<script>
import AOS from "aos";
import "aos/dist/aos.css";
export default {
  data() {
    return {
      allData: [],
      searchTerm: "",
    };
  },
  mounted() {
    AOS.init({
      duration: 900,
      offset: 120,
      easing: "ease",
      once: false,
      anchorPlacement: "top-bottom",
    });
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = "https://embed.tawk.to/62220908a34c245641296e76/1ftaf6j28";
      s1.charset = "UTF-8";
      s1.setAttribute("crossorigin", "*");
      s0.parentNode.insertBefore(s1, s0);
    })();

    const menu = document.querySelector(".menu");
    const sidebar = document.querySelector(".links-container");
    const close = document.querySelector(".close-btn");
    const banner = document.querySelector(".banner");
    menu.addEventListener("click", () => {
      sidebar.style.right = "0";
    });
    close.addEventListener("click", () => {
      sidebar.style.right = "-70vw";
    });
    const scrollLink = document.querySelectorAll(".scroll-link");
    window.addEventListener("load", () => {
      scrollLink.forEach((link) => {
        if (link.href === path) {
          link.style.color = "#71deb5";
          link.style.fontWeight = "bold";
        }
      });
    });

    window.addEventListener("scroll", () => {
      const nav = document.querySelector(".nav");
      const menu = document.querySelector(".menu");
      const logo = document.querySelector(".logo a");
      const navHeight = nav.getBoundingClientRect().height;
      const scrollHeight = window.pageYOffset;

      if (navHeight < scrollHeight) {
        nav.classList.add("fixed");
        logo.innerHTML = `<picture>
    <source media="(min-width:650px)" srcset=" ">
    <img src="../assets/Icons/Logo.svg " class=" " alt=" " />
  </picture>`;

        if (window.innerWidth > 768) {
          scrollLink.forEach((link) => {
            link.classList.add("black");
            if (link.href === path) {
              link.classList.remove("black");
              link.style.color = "#71deb5";
            }
          });
        }
      } else {
        nav.classList.remove("fixed");

        if (window.innerWidth > 768) {
          scrollLink.forEach((link) => {
            link.classList.remove("black");
          });
        }
      }
    });
  },
  methods: {
    async search() {
      try {
        await axios
          .post(
            "https://versavvymedia.com/5Aback/",
            {
              action: "search",
              term: this.searchTerm,
            },
            config
          )
          .then((res) => {
            console.log(res.data);
            this.allData = res.data;
          });
      } catch (err) {
        console.log(err.message);
      }
    },
    async fetchData() {
      try {
        await axios
          .post(
            "https://versavvymedia.com/5Aback/",
            {
              action: "fetchAll",
            },
            config
          )
          .then((res) => {
            console.log("response", res.data);
            this.allData = res.data;
          });
      } catch (err) {
        console.log(err);
      }
    },
  },
  created() {},
};
</script>
<style lang="scss" scoped>
.body-main {
  .show-links,
  .show-links2 {
    display: flex !important;
  }
  .fixed {
    position: fixed !important;
    top: 0;
    width: 100%;
    padding-bottom: 0.5rem;
    background: $A-darkerblue;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999999;
  }

  .description {
    background: #fff;
    margin-top: -2rem;
    margin-left: 2rem;
    .container {
      padding: 1rem;
      width: 100%;
      .desc {
        p {
          @extend .text;

          font-size: 0.8rem;
          color: $A-darkerblue;
          font-weight: 400;
          line-height: 1rem;
        }
      }
      .link {
        margin-top: 0.94rem;
        display: flex;
        align-items: center;
        // a {
        //   img {
        //   }
        // }
        p {
          a {
            @extend .text;

            font-size: 0.8rem;
            color: $A-green;
            font-weight: 400;
          }
        }
      }
    }
  }
  @include responsive($md) {
    .description {
      margin-left: 10rem;
      .container {
        padding: 1.5rem;
        .desc {
          p {
            font-size: 1rem;
          }
        }
        .link {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
  @include responsive($lg) {
    .description {
      margin-left: 21.44rem;
      .container {
        padding: 2rem;
      }
    }
  }
  @include responsive($xl) {
    .description {
      margin-left: 20rem;
      .container {
        position: relative;
        .desc {
          p {
            font-size: 1rem;
          }
        }
        .link {
          margin-top: 2rem;
          p {
            font-size: 1rem;
          }
        }
        .hover {
          margin-top: 10rem;
          margin-left: 2rem;
          position: absolute;
          bottom: 0.2rem;
          left: 0.2rem;
          content: "";
          display: block;
          width: 90%;
          height: 60%;
          background: $A-green;
          z-index: -1;
          transition: all 0.2s ease-in-out;
        }
        &:hover .hover {
          transform: translateY(1rem) rotate(-1.54deg);
        }
        &:hover .right-arrow {
          transform: translateX(0.2rem);
        }
      }
    }
  }
  @include responsive($xxl) {
    .description {
      margin-left: 40rem;
    }
  }
  .awards {
    margin-top: 8rem;
    .container {
      .circle-bg {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        border-radius: 10px;
        border-color: $A-green;
        img {
          width: 7rem;
          object-fit: cover;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          &:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
          }
        }
      }
    }
  }

  @include responsive($md) {
    .awards {
      .container {
        .circle-bg {
          grid-template-columns: 1fr 1fr 1fr;
          img {
            width: 7rem;
          }
        }
      }
    }
  }
  @include responsive($lg) {
    .awards {
      margin-top: 10rem;
      .container {
        .circle-bg {
          gap: 8rem;
          img {
            width: 7rem;
          }
        }
      }
    }
  }
  @include responsive($xl) {
    .awards {
      margin-top: 10rem;
      .container {
        .circle-bg {
          display: flex;
          justify-content: center;
          gap: 3.5rem;
          img {
            width: 10rem;
          }
        }
      }
    }
  }
  .awards2 {
    margin-top: 8rem;
    .container {
      .circle-bg {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        border-radius: 10px;
        border-color: $A-green;
        img {
          width: 20rem;
          object-fit: cover;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          &:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
          }
        }
      }
    }
  }

  @include responsive($md) {
    .awards2 {
      .container {
        .circle-bg {
          grid-template-columns: 1fr 1fr 1fr;
          img {
            width: 7rem;
          }
        }
      }
    }
  }
  @include responsive($lg) {
    .awards2 {
      margin-top: 10rem;
      .container {
        .circle-bg {
          gap: 8rem;
          img {
            width: 7rem;
          }
        }
      }
    }
  }
  @include responsive($xl) {
    .awards2 {
      margin-top: 10rem;
      .container {
        .circle-bg {
          display: flex;
          justify-content: center;
          gap: 8rem;
          img {
            width: 10rem;
          }
        }
      }
    }
  }
  .topdecor {
    margin-top: 8rem;
    position: relative;

    .left {
      background: $A-darkerblue;
      width: 100%;
      height: 30vh;
      display: grid;
      place-items: center;

      .left-decor {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 999;
      }
      .edge-decor1 {
        top: -0.5rem;
        left: -0.5rem;
        position: absolute;
        z-index: 999;
      }
      h2 {
        @extend .h2;

        color: $A-white;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        z-index: 9999;
      }
    }
    .pass-decor {
      margin-top: -5rem;
      position: absolute;
      z-index: 999;
      opacity: 0.4;
    }
    .right {
      position: relative;
      .best {
        background: url("../assets/Image/best.JPG") rgba(0, 0, 0, 0.6) no-repeat;
        background-position: center center;
        background-size: cover;
        background-blend-mode: overlay;
        background-attachment: fixed;
        display: grid;
        place-items: center;
        .container {
          padding: 2.5rem 0 4rem;
          z-index: 9999;
          .best-content {
            // max-width: 32.69rem;

            h1 {
              @extend .h2;
              color: #fff;
              margin-bottom: 1.69rem;
              text-align: center;
            }
            p {
              font-weight: normal;
              font-size: 1.13rem;
              line-height: 1.75rem;
              color: #fff;
              margin-bottom: 1.2rem;
              // max-width: 28.19rem;
              text-align: center;
            }
            .button {
              display: grid;
              place-content: center;
              a {
                @extend .text;
                color: #fff;
              }
            }
          }
        }
      }
      .decor {
        height: 20rem;
        width: 100%;
        object-fit: cover;
      }
      .edge-decor {
        bottom: -0.1rem;
        right: -0.1rem;
        position: absolute;
        z-index: 999;
      }
    }
  }
  @include responsive($md) {
    .topdecor {
      display: flex;
      width: 100%;
      .left {
        height: 40vh;
        .left-decor {
          display: block;
          position: absolute;
          left: 0;
        }
      }
      .pass-decor {
        margin-top: 0rem;
        left: -4rem;
        bottom: 0;
        width: 40rem;
      }
      .right {
        .best {
          height: 40vh;
        }
        .decor {
          height: 40vh;
        }
      }
    }
  }
  @include responsive($lg) {
    .topdecor {
      display: flex;
      .edge-decor1 {
        width: 8rem;
      }
      .left {
        width: 80%;
        height: 30vh;
      }
      .pass-decor {
        margin-top: 0rem;
        left: 3.3rem;
        bottom: 0;
        width: 50rem;
      }
      .right {
        .decor {
          height: 30vh;
        }
        .edge-decor {
          width: 8rem;
        }
      }
    }
  }
  @include responsive($xl) {
    .topdecor {
      .left {
        width: 60%;
        height: 40vh;

        h2 {
          margin-left: 3rem;
          margin-right: 3rem;
          font-size: 2rem;
        }
        .edge-decor1 {
          width: 10rem;
        }
      }
      .pass-decor {
        margin-left: 15rem;
      }
      .right {
        .decor {
          height: 40vh;
        }
        .edge-decor {
          width: 10rem;
        }
      }
    }
  }
  @include responsive($xxl) {
    .topdecor {
      .left {
        width: 75%;
        height: 50vh;
        h2 {
          margin-left: 10rem;
          margin-right: 10rem;
          margin-top: 0rem;
          font-size: 2rem;
        }
      }
      .pass-decor {
        margin-left: 40rem;
      }
      .right {
        .best {
          height: 50vh;
          .container {
            .best-content {
              p {
                margin-left: 5rem;
                margin-right: 5rem;
                margin-top: 3rem;
              }
            }
          }
        }
        .decor {
          height: 50vh;
        }
      }
    }
  }
  // .best {
  //   margin-top: 8rem;
  //   background: url("../assets/Image/best.JPG") rgba(0, 0, 0, 0.6) no-repeat;
  //   background-position: center center;
  //   background-size: cover;
  //   background-blend-mode: overlay;
  //   background-attachment: fixed;
  //   .container {
  //     padding: 2.5rem 0 4rem;

  //     .best-content {
  //       // max-width: 32.69rem;

  //       h1 {
  //         @extend .h2;
  //         color: #fff;
  //         margin-bottom: 1.69rem;
  //         text-align: center;
  //       }
  //       p {
  //         font-weight: normal;
  //         font-size: 1.13rem;
  //         line-height: 1.75rem;
  //         color: #fff;
  //         margin-bottom: 1.2rem;
  //         // max-width: 28.19rem;
  //         text-align: center;
  //       }
  //       .button {
  //         display: grid;
  //         place-content: center;
  //         a {
  //           @extend .text;
  //           color: #fff;
  //         }
  //       }
  //     }
  //   }
  // }
  // @include responsive($md) {
  //   .best {
  //     .container {
  //       .best-content {
  //         margin-left: 5rem;
  //         margin-right: 5rem;
  //       }
  //     }
  //   }
  // }
  // @include responsive($lg) {
  //   .best {
  //     margin: 7rem 0;
  //     background-attachment: none;
  //   }
  // }
  // @include responsive($xl) {
  //   .best {
  //     margin-top: 10rem;
  //     .container {
  //       .best-content {
  //         margin-left: 15rem;
  //         margin-right: 15rem;
  //         h1 {
  //           margin-top: 3rem;
  //         }
  //         p {
  //           margin-top: 3rem;
  //           font-size: 1.13rem;
  //           margin-bottom: 4rem;
  //         }
  //       }
  //     }
  //   }
  // }

  .counter {
    margin-top: 8rem;
    background-color: #e1e9f2;

    .container {
      position: relative;
      .decor {
        position: absolute;

        bottom: 0;
        right: 0;
        img {
          margin-bottom: -1.8rem;
          width: 10rem;
        }
      }
      .decor1 {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        img {
          margin-top: -1.8rem;
          width: 10rem;
        }
      }
      .counter-number {
        display: flex;
        align-items: center;
        .numbers {
          font-size: 1.6rem;
          line-height: 1em;
          text-align: center;
          margin: 30px auto;
          overflow: hidden;
          color: $A-lightblue;
          font-weight: 600;
          padding-bottom: 0.5rem;
          padding-top: 0.5rem;

          // border: solid 2px;
          // border-radius: 1rem;
          .title {
            color: $A-lightblue;
            font-size: 1rem;
            font-weight: 600;
          }
          img {
            margin-bottom: 0.94rem;
          }
          .icon-mid {
            margin-left: 0.5rem;
          }
          .icon-mid2 {
            margin-left: 1rem;
          }
        }

        .numbers__window {
          display: inline-block;
          overflow: hidden;
          width: 0.6em;
          height: 1em;
        }
        .numbers__window__digit {
          font: inherit;
          word-break: break-all;
          display: block;
          width: 0;
          padding: 0 0.52em 0 0;
          margin: 0 auto;
          overflow: inherit;
          animation: counting 1.5s steps(10) forwards infinite;
        }
        .numbers__window__digit::before {
          content: attr(data-fake);
          display: inline-block;
          width: 100%;
          height: auto;
        }
        .numbers__window__digit--1 {
          animation-iteration-count: 3;
        }
        .numbers__window__digit--2 {
          animation-iteration-count: 6;
        }
        .numbers__window__digit--3 {
          animation-iteration-count: 9;
        }
        .numbers__window__digit--4 {
          animation-iteration-count: 12;
        }
        .numbers__window__digit--5 {
          animation-iteration-count: 15;
        }

        @keyframes counting {
          100% {
            transform: translate3d(0, -10em, 0);
          }
        }
      }
    }
  }
  @include responsive($md) {
    .counter {
      margin-top: 8rem;

      .container {
        .numbers {
          color: $A-lightblue;
        }
      }
    }
  }

  @include responsive($lg) {
    .counter {
      margin-top: 10rem;

      .container {
        .counter-number {
          .numbers {
            color: $A-lightblue;
            display: grid;
            place-items: center;
            // border: solid 2px;
            // border-radius: 1rem;

            img {
              margin-left: 0.5rem;
              margin-bottom: 1rem;
            }
            .icon-mid {
              margin-left: 0.5rem;
            }
            .icon-mid2 {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  @include responsive($xl) {
    .counter {
      margin-top: 10rem;

      .container {
        .decor1 {
          display: block;
          margin-left: -8rem;
          img {
            width: 15rem;

            margin-top: -2.8rem;
          }
        }
        .decor {
          margin-right: -8rem;
          img {
            width: 15rem;
            margin-bottom: -2.8rem;
          }
        }
        .counter-number {
          .numbers {
            font-size: 3.5rem;
            font-weight: 600;
            display: grid;
            place-items: center;
            img {
              margin-left: 0rem;
              margin-bottom: 1rem;
            }
            .icon-mid {
              margin-left: 0rem;
            }
            .title {
              margin-top: 1rem;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  .practice {
    margin-top: 8rem;
    .practice-card {
      position: relative;

      &:hover .hover {
        visibility: visible;
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(42, 46, 83, 0.4);
        z-index: 99;
      }

      .prac-img {
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      h4 {
        position: absolute;
        z-index: 999;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
        margin: 1rem;
        margin-top: 2rem;
        line-height: 1.3rem;
        text-align: left;
      }
      .more-arrow {
        position: absolute;
        z-index: 999;
        bottom: 0;
        right: 0;
        color: #fff;
        border: solid 2px;
        border-radius: 10px;
        padding: 0.2rem;
        margin: 1rem;

        img {
          width: 2rem;
        }
      }
      .hover {
        z-index: 99;
        position: absolute;
        top: 0;
        color: #fff;
        text-align: center;
        height: 100%;
        padding: 20px;
        width: 100%;

        background: rgba(42, 46, 83, 0.9);

        border-top: solid 1px #000;
        transition: all 200ms ease-in-out;
        visibility: hidden;
        p {
          font-size: 1.13rem;
          margin-top: 5rem;
          text-align: left;
          color: #fff;
          line-height: 1.5rem;
        }
      }
    }
  }
  @include responsive($md) {
    .practice {
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;
      .practice-card {
        h4 {
          font-size: 1.13rem;
          width: 90%;
        }
      }
    }
  }
  @include responsive($xl) {
    .practice {
      margin-top: 10rem;
      .practice-card {
        overflow: hidden;
        position: relative;
        h4 {
          font-size: 1.5rem;
          line-height: 1.8rem;
          width: 85%;
        }
        .hover {
          p {
            margin-top: 8rem;
            font-size: 1.3rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
  .team {
    margin-top: 8rem;
    .container {
      .team-wrapper {
        .team-img {
          .edgepic {
            position: absolute;
            z-index: 999;
            width: 5rem;
          }
          .team-pic {
            position: relative;
            object-fit: cover;
          }
          .edgepic2 {
            position: absolute;
            z-index: 999;
            width: 3rem;
            bottom: -0.1rem;
            right: -0.1rem;
          }
        }
        .team-desc {
          margin-top: 2rem;
          h4 {
            @extend .title;
            margin-top: 0.94rem;
            text-align: left;
            color: $A-darkerblue;
          }
          p {
            @extend .text;
            margin-top: 0.94rem;
            text-align: left;
            color: $A-grey;

            line-height: 1.5rem;
          }
          .button {
            margin-top: 1.88rem;
            a {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  @include responsive($md) {
    .team {
      .container {
        .team-wrapper {
          // display: flex;
          margin-left: 5rem;
          margin-right: 5rem;
          gap: 1rem;
          .team-img {
            .edgepic {
              position: absolute;
              z-index: 999;
              width: 5rem;
            }
            .team-pic {
              width: 50rem;
            }
            .edgepic2 {
              position: absolute;
              z-index: 999;
              width: 5rem;
              bottom: 0;
              right: -0.1rem;
            }
          }
          .team-desc {
            margin-top: 4rem;
            h4 {
              margin-top: 0rem;
            }
            p {
              margin-top: 1.88rem;
            }
            .button {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
  @include responsive($lg) {
    .team {
      .container {
        .team-wrapper {
          display: flex;
          margin-left: 0rem;
          margin-right: 0rem;
          .team-img {
            .team-pic {
              width: 300rem;
              height: 30vh;
            }
          }
          .team-desc {
            margin-top: 0rem;
            p {
              margin-top: 2rem;
              margin-bottom: 3rem;
              font-size: 1rem;
              font-weight: 2rem;
            }
          }
        }
      }
    }
  }
  @include responsive($xl) {
    .team {
      margin-top: 10rem;
      .container {
        .team-wrapper {
          .team-img {
            .team-pic {
              width: 40rem;
              height: auto;
            }
          }
          .team-desc {
            width: 45%;
            h4 {
              font-size: 2.5rem;
            }
            p {
              margin-top: 4rem;
              margin-bottom: 5rem;

              font-weight: 2rem;
            }
          }
        }
      }
    }
  }

  .contact {
    margin-top: 8rem;
    .container {
      .contact-box {
        .contact-form {
          background: $A-darkerblue;
          padding: 1rem;
          padding-right: 3rem;
          margin-top: 5rem;
          position: relative;
          .contact-decor {
            position: absolute;
            right: 0.5rem;
            top: 0;
            width: 2rem;
            height: 70vh;
          }
          h2 {
            @extend .title;
            margin-top: 0.94rem;
            text-align: center;
            line-height: 1.3rem;
            color: #fff;
          }
          p {
            @extend .text;
            margin-top: 0.94rem;
            text-align: center;
            font-size: 0.8rem;
            line-height: 1.3rem;
            color: #e1e9f2;
          }
          .myform {
            place-content: center;

            input,
            textarea {
              background: $A-darkerblue;
              border: solid #fff;
              border-style: none;
              outline: none;
              width: 100%;
              margin-top: 1rem;
              border: none;
              border-bottom: 1px solid #fff;
            }
            input {
              color: #fff;

              &::placeholder {
                color: #fff;
              }
            }
            input[type="text"],
            input[type="email"] {
              padding: 1rem 0.8rem;
              color: #fff;
            }
            textarea {
              padding: 1rem 0.8rem;
              color: #ffff;
            }
            // .list-areas {
            //   div {
            //     input {

            //     }
            //   }
            // }

            .submit-buttons {
              margin-top: 5rem;
              display: flex;
              justify-content: center;
            }
          }
        }
        .contact-hours {
          background: url("../assets/Image/hours.jpg") rgba(42, 46, 83, 0.7)
            no-repeat;
          background-position: center;
          background-size: cover;
          background-blend-mode: overlay;
          // height: 70vh;
          margin-top: 5rem;
          padding: 1rem;
          h2 {
            @extend .title;
            margin-top: 0.94rem;
            text-align: left;
            color: #fff;
            line-height: 2rem;
          }
          .desc-p {
            @extend .text;
            margin-top: 0.94rem;
            text-align: left;
            font-size: 0.8rem;
            line-height: 1.3rem;
            color: #e1e9f2;
          }
          .time-contact {
            display: flex;
            align-items: center;
            margin-top: 0.8rem;
            p {
              @extend .text;

              text-align: left;
              margin-left: 1rem;
              color: #e1e9f2;
            }
          }
          .socials {
            display: flex;
            margin-top: 3rem;
            align-items: center;
            gap: 1rem;
            ul {
              li {
                a {
                  display: flex;
                  color: #e1e9f2;
                  margin-top: 2rem;
                  p {
                    margin-left: 0.94rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @include responsive($md) {
    .contact {
      .container {
        .contact-box {
          display: flex;
          .contact-form {
            background: $A-darkerblue;
            padding: 1rem;
            padding-right: 4rem;
            // height: 60vh;

            .contact-decor {
              width: 2.3rem;
            }
            h2 {
              margin-top: 0.94rem;
              text-align: center;
              color: #fff;
            }
            p {
              margin-top: 0.94rem;
              text-align: center;
              font-size: 0.8rem;
              line-height: 1.3rem;
              color: #e1e9f2;
            }
          }
          .contact-hours {
            // height: 65vh;
            margin-top: 5rem;
            padding: 1rem;
            // width: 100%;
            h2 {
              margin-top: 0.94rem;
              text-align: left;
              color: #fff;
            }
            .desc-p {
              margin-top: 0.94rem;
              text-align: left;
              font-size: 0.8rem;
              line-height: 1.3rem;
              color: #e1e9f2;
            }
            .time-contact {
              display: flex;
              align-items: center;
              margin-top: 0.8rem;
              p {
                text-align: left;
                margin-left: 1rem;
                color: #e1e9f2;
              }
            }
            .socials {
              display: flex;
              margin-top: 3rem;
              align-items: center;
              gap: 1rem;
              ul {
                li {
                  a {
                    display: flex;
                    color: #e1e9f2;
                    margin-top: 2rem;
                    p {
                      margin-left: 0.94rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @include responsive($lg) {
    .contact {
      .container {
        .contact-box {
          display: flex;
          .contact-form {
            padding: 1rem;
            // height: 60vh;
            margin-top: 0rem;
            padding-right: 5rem;
            .contact-decor {
              margin-top: 1rem;
            }
            h2 {
              margin-top: 2.5rem;
              text-align: center;
              color: #fff;
            }
            p {
              margin-top: 0.94rem;
              text-align: center;
              font-size: 0.8rem;
              line-height: 1.3rem;
              color: #e1e9f2;
            }
          }
          .contact-hours {
            // height: 65vh;
            margin-top: 5rem;

            padding: 3rem;
            // width: 100%;
            h2 {
              margin-top: 0.94rem;
              text-align: left;
              color: #fff;
            }
            .desc-p {
              margin-top: 0.94rem;
              text-align: left;
              font-size: 0.8rem;
              line-height: 1.3rem;
              color: #e1e9f2;
            }
            .time-contact {
              display: flex;
              align-items: center;
              margin-top: 0.8rem;
              p {
                text-align: left;
                margin-left: 1rem;
                color: #e1e9f2;
              }
            }
            .socials {
              display: flex;
              margin-top: 3rem;
              align-items: center;
              gap: 1rem;
              ul {
                li {
                  a {
                    display: flex;
                    color: #e1e9f2;
                    margin-top: 2rem;
                    p {
                      margin-left: 0.94rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @include responsive($xl) {
    .contact {
      margin-top: 10rem;
    }
  }
  .testimonial {
    margin-top: 8rem;
    .container {
      h2 {
        @extend .title;
        text-align: center;
        font-weight: 600;
      }
      .wrapper {
        .testmonial-card {
          width: 20rem;
          margin-top: 3rem;
          background: $A-darkerblue;
          padding: 2rem;
          border-radius: 40px;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

          p {
            margin-top: 0.94rem;
            text-align: left;
            font-size: 0.8rem;
            line-height: 1.3rem;
            color: #e1e9f2;
          }
          .name {
            display: flex;
            justify-content: right;
            margin-top: 1.5rem;
            font-size: 0.8rem;
            line-height: 1.3rem;
            color: #e1e9f2;
            border-style: none;
            hr {
              width: 3rem;
            }
          }
        }
        .testmonial-card1 {
          width: 20rem;
          margin-top: 3rem;
          background: #fff;
          padding: 2rem;
          border-radius: 40px;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

          p {
            margin-top: 0.94rem;
            text-align: left;
            font-size: 0.8rem;
            line-height: 1.3rem;
            color: $A-darkerblue;
          }
          .name {
            display: flex;
            justify-content: right;
            margin-top: 1.5rem;
            font-size: 0.8rem;
            line-height: 1.3rem;
            color: $A-darkerblue;

            hr {
              width: 3rem;
            }
          }
        }
      }
    }
  }
  @include responsive($md) {
    .testimonial {
      .container {
        .wrapper {
          display: flex;
          justify-content: center;
          gap: 1rem;
          .testmonial-card,
          .testmonial-card1 {
            width: 25rem;

            p {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
  @include responsive($xl) {
    .testimonial {
      margin-top: 10rem;
      .container {
        .wrapper {
          display: flex;
          gap: 1rem;
          .testmonial-card,
          .testmonial-card1 {
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  .blog {
    margin-top: 8rem;
    margin-bottom: 8rem;
    .container {
      h2 {
        @extend .title;
        text-align: center;
        font-weight: 600;
      }
      p {
        @extend .text;
        margin-top: 0.94rem;
        text-align: center;
        line-height: 1.13rem;
        font-size: 0.8rem;
        color: $A-grey;
      }
      .news {
        margin-top: 7rem;
        .title {
          background: $A-lightblue;
          padding: 1rem;
          margin-top: 4rem;
          h2 {
            @extend .title;

            margin-top: 0.94rem;
            text-align: left;

            color: #fff;
          }
        }
        .full-news {
          margin-top: 0.5rem;
          background: #fff;
          padding: 2rem;
          p {
            @extend .text;
            color: $A-darkerblue;
            text-align: left;
          }

          .link {
            margin-top: 2rem;
            display: flex;
            align-items: center;

            p {
              @extend .text;
              margin-top: 0rem;

              font-size: 1rem;
              color: $A-darkerblue;
              font-weight: 400;
            }
          }
        }
      }
      .blog-post {
        margin-top: 4rem;
        background: $A-lightblue;
        padding: 2rem;
        h2 {
          @extend .title;

          margin-top: 0.94rem;
          text-align: left;

          color: #fff;
        }
        p {
          @extend .text;
          margin-top: 1rem;
          font-size: 1rem;
          color: #fff;
          text-align: left;
          font-weight: 400;
        }
        .link {
          margin-top: 2rem;
          display: flex;
          align-items: center;

          p {
            @extend .text;
            margin-top: 0rem;
            font-size: 1rem;
            color: #fff;
            font-weight: 400;
          }
        }
        .bottom-poll {
          display: flex;
          justify-content: center;
          margin-top: 2rem;
          margin-bottom: -5.38rem;
          img {
            width: 5rem;
          }
        }
      }
    }
  }
  @include responsive($lg) {
    .blog {
      .container {
        .wrapper {
          gap: 1rem;
          display: flex;
        }
      }
    }
  }
  @include responsive($xl) {
    .blog {
      margin-top: 10rem;
      .container {
        .sub-title {
          margin-top: 1.5rem;
          font-size: 1rem;
          margin-left: 25rem;
          margin-right: 25rem;
        }
        .blog-post {
          p {
            margin-top: 4rem;
            font-size: 1.13rem;
          }
          .link {
            margin-top: 10rem;
          }
        }
      }
    }
  }
}
</style>
